<footer>
  {{partial "social.html" .}}
  <div class="container">
    <p class="credits copyright">
      <a href="{{ .Site.BaseURL }}about">{{ .Site.Author.name }}</a>
      &nbsp;&copy;
      {{ .Site.LastChange.Format "2006" }}
      {{ if .Site.Title }}
      &nbsp;/&nbsp;
      <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
      {{ end }}
      &nbsp;&ndash;&nbsp;
      <i class="fas fa-moon" id="dark-mode-toggle"></i>

    <p class="credits theme-by">
      Theme based on <a href="https://github.com/matsuyoshi30/harbor">Harbor</a>
    </p>
    </p>
  </div>
</footer>
