<meta charset="utf-8" />
<title>{{ .Title }}</title>
{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}" />
{{ end }} {{- with .Site.Author.Name }}
<meta name="author" content="{{ . }}" />
{{- end }} {{ partial "plausibleAnalytics.html" . }} {{ partial
"googleAnalytics.html" . }}
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="alternate"
  type="application/rss+xml"
  href="{{ .Site.BaseURL }}index.xml"
  title="{{ .Site.Title }}"
/>
<!-- Stylesheets -->
<link
  id="dark-mode-theme"
  rel="stylesheet"
  href="{{ .Site.BaseURL }}css/dark.css"
/>
<link rel="stylesheet" href="{{ .Site.BaseURL }}fontawesome/css/all.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap"
  rel="stylesheet"
/>
{{ range .Site.Params.customCSS }}
<link rel="stylesheet" href="{{ . | absURL }}" />
{{ end }}
<!-- script -->
<script src="{{ .Site.BaseURL }}js/bundle.js"></script>
<script
  src="{{ .Site.BaseURL }}js/instantpage.min.js"
  type="module"
  defer
></script>
{{ hugo.Generator -}}
