{{ if .IsHome }}
  {{ if .Site.Params.homeTitle }}
    {{ $.Scratch.Set "title" .Site.Params.homeTitle }}
  {{ else }}
    {{ $.Scratch.Set "title" .Site.Title }}
  {{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
{{ end }}

{{ $title := $.Scratch.Get "title" }}
{{ if $title }}
  <header>
    {{ partial "nav.html" . }}
    <div class="intro-header">
      <div class="container">
        <div class="{{ .Type }}-heading">
          {{ if or (not (.IsHome)) (.Site.Params.logo) }}
            {{ if eq .Type "list" }}
              <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
            {{ else }}
              <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
            {{ end }}
          {{ end }}
          {{ if eq .Type "post" }}
            {{ partial "postmeta.html" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </header>
{{ else }}
  <div class="intro-header"></div>
{{ end }}
