<nav
  class="navbar"
  style="font-family: 'Cormorant Garamond', serif; font-weight: lighter"
>
  <div class="nav">
    {{ if .Site.Params.logo }}
    <a href="{{ .Site.BaseURL }}" class="nav-logo">
      <img
        src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}"
        width="{{ .Site.Params.logo.width }}"
        height="{{ .Site.Params.logo.height }}"
        alt="{{ .Site.Params.logo.alt }}"
      />
    </a>
    {{ else }}
    <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
    {{ end }}

    <ul class="nav-links">
      {{ range .Site.Params.nav }} {{ if .icon }}
      <li>
        <a href="{{ .url | relLangURL }}" name="{{ .name }}"
          ><i class="{{ .icon }}"></i
        ></a>
      </li>
      {{ else }}
      <li>
        <a href="{{ .url | relLangURL }}" name="{{ .name }}">{{ .name }}</a>
      </li>
      {{ end }} {{ end }}
    </ul>
  </div>
</nav>
